<div class="col-md-12">
    <div class="card card-olive">
        <div class="card-header">
            <h3 class="card-title">1. Single Responsibility Principle</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body" style="display: block;">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h6 class="m-0"><b>Podstawy (teoria)</b></h6>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title"></h6>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>