{% extends 'layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('default_dashboard') }}
{% endblock %}

{% block body %}
    <div id="dashboard"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('default_dashboard') }}
{% endblock %}