<div class="tab-pane fade" id="custom-content-above-correct" role="tabpanel" aria-labelledby="custom-content-above-correct-tab">
    <div class="row">
        <div class="card-body" style="display: block;">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="m-0">Lista korekt</h5>
                        </div>
                        <div class="col-md-6">
{#                            <a href="{{ path('zestawienie_estimate', {id: id}) }}" class="btn btn-sm btn-primary float-right ml-2"><i class="fas fa-plus"></i> Dodaj korektę</a>#}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered text-center">
                        <tr>
                            <th class="align-middle">Nazwa podgrupy</th>
                            <th class="align-middle">Kwota<br>(przed korektą)</th>
                            <th class="align-middle">Kwota<br>(po korekcie)</th>
                            <th class="align-middle">Różnica kwot</th>
                            <th class="align-middle">Wartość procentowa</th>
                        </tr>
                        <tr>
                            <td class="align-middle">Nieruchomości inwestycyjne</td>
                            <td class="align-middle">86 965 856,99</td>
                            <td class="align-middle">223 444,21</td>
                            <td class="align-middle">223 444,21</td>
                            <td class="align-middle">223 444,21</td>
                        </tr>
                        <tr>
                            <td class="align-middle">Pozostałe środki trwałe</td>
                            <td class="align-middle">86 965 856,99</td>
                            <td class="align-middle">223 444,21</td>
                            <td class="align-middle">223 444,21</td>
                            <td class="align-middle">223 444,21</td>
                        </tr>
                        <tr>
                            <td class="align-middle">Wartości niematerialne i prawne</td>
                            <td class="align-middle">86 965 856,99</td>
                            <td class="align-middle">223 444,21</td>
                            <td class="align-middle">223 444,21</td>
                            <td class="align-middle">223 444,21</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>