<div class="col-md-12">
    <div class="card card-olive">
        <div class="card-header">
            <h3 class="card-title">1. Singleton</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body" style="display: block;">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h6 class="m-0"><b></b></h6>
                        </div>
                        <div class="card-body">
{#                            <h6 class="card-title"></h6>#}
                            <p class="card-text">
                                Wzorzec projektowy Singleton należy do grupy wzorców konstrukcyjnych. Jego zadaniem jest dostarczenie dokładnie jednej instancji klasy o globalnym dostępie. Celowo użyłem słowa dostarczenie, gdyż kontroluje on też czy obiekt istnieje. Jeśli tak to jest zwracany, jeśli nie to wcześniej musi zostać utworzony.
                            </p>
                            <p>Ja posłużę się przykładem klasy odpowiedzialnej za konfigurację w aplikacji. Gdyby obiektów klasy Config było kilka to łatwo wyobrazić sobie konflikt. W jednym miejscu został zmieniony jego stan, a w drugim istnieje potrzeba odczytu tego stanu. Niestety w dwóch miejscach nie są one tożsame.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>