{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid text-center">
    <h1 class="font-weight-bolder">403</h1>

    <p>
        Problem 403 ....
        {# <img src="{{ asset('build/error_404.png') }}"> #}
    </p>
</div>
{% endblock %}