{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('chart') }}
{% endblock %}

{% block body %}
<div class="content-header">
    <div class="container-fluid">
        {% include 'website/flash_messages.html.twig' %}
        <div class="row mb-2"></div>
    </div>
</div>

<div class="content">
    <input type="hidden" id="identyfikator" value="{{ identyfikator }}">
    <div id="worker_index"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('chart') }}
{% endblock %}

{% block react %}
    {{ encore_entry_script_tags('worker_index') }}
{% endblock %}